{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <title>BookVerse | Libro</title>
</head>

<body>
    <!-- Product section-->
    <section class="py-5" id="libro-{{ libro.isbn }}">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="{{ libro.portada }}" alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">ISBN: {{ libro.isbn }} </div> <!-- ACA VA EL ISBN DEL LIBRO!-->
                    <h1 class="display-5 fw-bolder">{{ libro.titulo }}</h1>
                    <div class="fs-5 mb-5">
                        <span>${{ libro.precio }}</span>
                    </div>
                    <p class="lead">{{ libro.sinopsis }}</p>
                    <div class="d-flex">
                        <div class="text-center">
                            <form action="{% url 'agregar_libro' libro.isbn %}#libro-{{ libro.isbn }}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark mt-auto">Agregar al carrito</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}
